  <footer class="main-footer">
    <strong>Design by Alazar Gizachew <a href="https://www.instagram.com/salaza_4?igsh=MTR3aTdheHIzOW9zMw==">Link</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>{{system.name}}</b>
    </div>
  </footer>
</div>

{{> footer}}
</body>
</html>