<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/css/alt/adminlte.components.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.components.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.pages.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.core.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.core.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.extra-components.min.css.map">
  <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.pages.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.pages.css.map"> 
  <link rel="stylesheet" href="/assets/css/alt/adminlte.pages.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.pages.min.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.plugins.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.plugins.css.map">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.plugins.min.css">
  <link rel="stylesheet" href="/assets/css/alt/adminlte.plugins.min.css.map">
  <link rel="stylesheet" href="/assets/css/adminlte.css">
  <link rel="stylesheet" href="/assets/css/adminlte.css.map">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css.map">
  <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head> 
<body class="hold-transition layout-fixed layout-navbar-fixed sidebar-collapse">
  <div class="wrapper">
    
    {{!-- {{ sidebar }} --}}
    
    <div class="content-wrapper">
      {{{body}}}
    </div>
    
    
  </div>
</body>
</html>
